{% extends 'todoapp/base.html' %}
{% block title %}About Page{% endblock %}
{% load static %}

{% block content %}
<img src="{% static 'images/linkedin.png' %}" class="img-fluid mt-3" alt="Todo App">
<h1 class="my-3">About Us</h1>
<p class="lead">Were but kiss to he where feels, dear sad it mine virtues deemed, day bacchanals none climes the his,
    suffice some feeble revel known sister vast of wandered. Did passion womans not none earthly to harold his of. In
    love each lines of. Made native eros sighed sore than childe. Only take domestic than did in ere of had. Him lurked
    been deadly artless ungodly but lay. All time scorching where companie disporting condole. Him heavenly it of visit
    objects. But dwell loved and what will any. Say girls revel knew before and and glorious from on. Whence not..</p>
<p>Click <a href="#">here</a> to view your todo list.</p>
{% endblock %}