{% extends 'todoapp/base.html' %}
{% block title %}Add Todo{% endblock %}

{% block content %}
<!-- add todo and show todo list here -->
<div class="container">
    <h1 class="my-3">Add Todo</h1>
    <hr>
    <form method="POST" action="{% url 'addtodo' %}">
        {% csrf_token %}
        <div class="form-group d-flex">
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" required>
            <button type="submit" class="btn btn-primary ms-2 px-5">AddTodo</button>
        </div>
    </form>
    <h2 class="my-3">Todo List</h2>
    <hr>
    <ul class="list-group">
        {% for todo in todos %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ todo.title }}
            <span>
                <a href="" class="btn btn-primary">Update</a>
                <a href="" class="btn btn-danger">Delete</a>
            </span>
        </li>
        {% endfor %}
</div>
{% endblock %}