<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django Todo App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <img src="{% static 'images/linkedin.png' %}" class="img-fluid" alt="Django Todo App">
        <h1 class="text-center mt-5">Django Todo App</h1>
        <p>
            And his childe had mote one each later, dares by had time so. Sought sad drowsy tales whence to is, deemed
            resolved childe hour heal ungodly. Her land passion none she favour his or. That whilome care him are one
            domestic eremites. If of that pollution vulgar along dear than, ancient moths isle glare did be of but. Lay
            sick them a muse ive memory below loved youth. Sad prose hill him objects they like shun deemed him, before
            from been was brow any, at lemans that disporting lineage. He at sing chaste chill his, weary power soils
            so.
        </p>
        <a href="#" class="btn btn-primary">Read More</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>